<h1>Rents#show</h1>
<p>Find me in app/views/rents/show.html.erb</p>
<h1>予約詳細</h1>
<table class="show-table">
  <tr>
    <th>名前</th>
    <td><%= @rent.product.name %></td>
  </tr>

  <tr>
    <th>開始日</th>
    <td><%= @rent.start_date %></td>
  </tr>

  <tr>
    <th>終了日</th>
    <td><%= @rent.end_date %></td>
  </tr>

  <tr>
    <th>支払い合計金額</th>
    <td><%= @rent.sum_of_amount %>円</td>
  </tr>

  <tr>
    <th>予約した日にち</th>
    <td><%= @rent.created_at %></td>
  </tr>
  <p>--------------------------------------------------</p>
</table>